
.DS_Store

sample/SampleGlitchApp.xcodeproj/xcuserdata/brady.xcuserdatad/xcschemes/xcschememanagement.plist

sample/SampleGlitchApp.xcodeproj/xcuserdata/brady.xcuserdatad/xcschemes/SampleGlitchApp.xcscheme

sample/SampleGlitchApp.xcodeproj/project.xcworkspace/xcuserdata/brady.xcuserdatad/UserInterfaceState.xcuserstate

sample/SampleGlitchApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata

sample/SampleGlitchApp.xcodeproj/xcuserdata/brady.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

sample/SampleGlitchApp.xcodeproj/project.xcworkspace/xcuserdata/brady.xcuserdatad/WorkspaceSettings.xcsettings
